$toolbar-gradient-start: #FF7967 !default;
$toolbar-gradient-end: #EE402B !default;
$toolbar-gradient-line: #AE3D2E !default;

$tabbar-gradient-line: #7A7A7A;
$tabbar-gradient-start: #2B2B2B;
$tabbar-gradient-end: #000000;

$tabbar-height: 44px;

$tab-selected-text-color: #FFFFFF;
$tab-selected-icon-color: #EE402B;
$tab-text-color: #9D9D9D;



